body { padding-top: 70px; }

#wrapper {
    position:absolute;
    width: 100%;
    left: 0;
}

.user-info {
    padding: 5px;
}

.fa {
    padding-right: 5px;
}

.type-info {
    font-size: 18px;
    margin-top: 0px;
    float: top;

}

.user-info-panel {
    top: 0;
}