.list-group {
    padding: 10px 10px 10px 10px;
}

.list-group-item:hover {
    background-color: lightgray;
    cursor: pointer;
}

.render-json {
    font-size: 12px;
    height: 700px;
    cursor: pointer;
}

.app-title {
    text-align: center;
}

.snippet {
    display: block;
}