body {
    padding-top: 70px;
}

#wrapper {
    position:absolute;
    width: 100%;
    left: 0;
}

.user-info {
    padding: 5px;
}

.fa {
    padding-right: 5px;
}

.type-info {
    padding-bottom:30px;
    height:18px;
}

.auth-panel {
    float: left;
    position: inherit;
    width: 80%;
    height: 100%;
}

.pop-user-panel {
    height: auto;
}
.security-code-fetch {
    float: left;
    position: relative;
    width: 80%;
    height: 100%;
}

.security-code-btn {
    height: 100px;
    vertical-align: middle;
    padding-top: 25px;

    /*background-color: black;*/
}

.security-code-panel {
    padding: 25px;
    vertical-align: middle;
}

.security-code-retrieved {
    letter-spacing: 10px;
    font-size: 38px;
    line-height: 48px;
    color: darkgray;
    vertical-align: middle;

    text-align: center;

    display: table-cell;

    background-color: lightblue;

    width: 100%;
    margin: 22.8px 0 40.4px;
    padding: 26px 0 8px;
    height: 100%;
    overflow:hidden;
}

